# .gitignore blacklists every file & folder in 
# the same directory except what matters
/*

# whitelist gitignore and readme
!.gitignore
!README.md

# whitelisted directories
!.config/
!.local/bin/

# whitelisted files
!*.profile
!*.zprofile
!*.xinitrc
!*.xprofile

# Ignored files & folders
.config/discord/
.config/polybar/fonts
.config/nvim/plugged
.config/zsh/oh-my-zsh/
.config/ssh*
.config/coc/extensions/node_modules
.config/pulse/
