# .gitignore blacklists every file & folder in 
# the same directory except what matters
/*

# whitelist gitignore and readme
!.gitignore
!README.md

# ignore everything in .config
.config/*

# whitelisted directories
!.local/bin/

# .config bonanza
!.config/Xresources
!.config/fontconfig
!.config/i3
!.config/lf
!.config/mpv
!.config/neofetch

!.config/vim
!.config/nvim
.config/nvim/plugged # re-ignore this

!.config/polybar
.config/polybar/fonts # re-ignore this

!.config/sxiv
!.config/tmux
# TODO: whitelist transmission once set up with blocklist
!.config/xinitrc
!.config/zathura

!.config/zsh
.config/zsh/oh-my-zsh/ # re-ignore this

!.config/mimeapps.list

# whitelisted files
!*.profile
!*.zprofile
!*.xinitrc
!*.xprofile
