# .gitignore blacklists every file & folder in 
# the same directory except what matters
/*

# whitelist gitignore and readme
!.gitignore
!README.md
!install.sh

!.local
.local/*

# # whitelisted directories
!.local/bin/
!.local/share/

# not pulsemixer though
.local/bin/pulsemixer



.local/share/*
!.local/share/fonts/
.local/share/fonts/.uuid

!.local/share/applications/
.local/share/applications/*
!.local/share/applications/file.desktop
!.local/share/applications/img.desktop
!.local/share/applications/mail.desktop
!.local/share/applications/pdf.desktop
!.local/share/applications/rss.desktop
!.local/share/applications/spreadsheet.desktop
!.local/share/applications/text.desktop
!.local/share/applications/torrent.desktop

# add default wallpaper
!.local/share/default.png

# ignore everything in .config (but still allow to add files from within)
!.config
.config/*

# .config files
!.config/Xresources
!.config/picom.conf
!.config/aliasrc
!.config/mimeapps.list
!.config/langinit

# .config folders
!.config/fontconfig
!.config/sxhkd
!.config/i3
!.config/bspwm
!.config/alacritty
!.config/lf
!.config/mpv
!.config/neofetch
!.config/firefox

!.config/vim

# this trick really sucks but I don't think we can do it any other way.
# Basically: un-ignore parent dir, ignore all files within, unignore ones you want
# git won't let you un-ignore files if the parent is ignored. So we have to do this
# So this only keeps init.vim
!.config/nvim
.config/nvim/*
!.config/nvim/init.lua
!.config/nvim/stylua.toml
!.config/nvim/lua/

# !.config/nvim/init.vim
# !.config/nvim/local.vim
# !.config/nvim/coc-settings.json

!.config/polybar

!.config/sxiv
!.config/tmux
# TODO: whitelist transmission once set up with blocklist
!.config/xinitrc


!.config/zathura
.config/zathura/*
# only whitelist the base file (which is used for generating zathurarc)
!config/zathura/base


!.config/zsh
.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/prompts
# this file is my custom prompt profile
!.config/zsh/.p10k.zsh

# whitelisted files
!.profile
!.zprofile
!.xinitrc
!.xprofile
.Rproj.user
