# !/bin/sh

# This file is sourced from ~/.config/xinitrc
# It loads all the programs required at startup

# load Xresources
xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/Xresources

# tmeporary solution to adjust file permissions for display backlight at startup
chmod 666 /sys/class/backlight/intel_backlight/brightness

xset s off              # dont activate screensaver
xset s noblank          # dont blank the video device
xset -dpms              # disable energystart features
# xset r rate 300 50 &    # speed xrate up
xrate                   # speed rate up

setbg & # set wallpaper on startup
sleep 1 && polybar-start & # start polybar instance after 1 second timeout to allow setbg to change system colors

sxhkd & # start the simple X hotkey daemon - used for general keybinds
unclutter & # hide mouse if inactive

# remap caps lock to escape. I absolutely need this to survive in vim
setxkbmap -option caps:escape

# WM Compositors. Only use one
sleep 1 && picom & # allows you to use blur on the main picom repo
