# This file is sourced from ~/.config/xinitrc

xset s off
xset -dpma
xset s noblank

sh setbg & # run some scripts on startup
xset r rate 300 50 & # speed xrate up
unclutter & # hide mouse if inactive
